@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    @include tablet{
        font-size: 80%;
    }
    @include mobile{
        font-size: 60%;
    }
}

body {
    font-family: $font-family !important ;
    font-weight: $fw-400;
    font-size: 16px !important;
    line-height: $l-1_5;
    position: relative;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: initial;
}

button,
input {
    outline: 0;
}

ul {
    list-style-type: none;
    padding:0;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.mb-3 {
    margin-bottom: $r-48;
}

.mb-2 {
    margin-bottom: $r-32;
}

.me-1{
    margin-right: $r-15;
}

.section {
    padding: $r-32 0;
}

.text-right{
    text-align: right;
}

.container {
    max-width: 1660px;
    margin: 0 auto;
}
