//Font family
$font-family: "Roboto", sans-serif;

//Color
$white: #ffffff;
$black: #000000;
$deep-sky-blue: #00bfff;
$dodger-blue: #1e90ff;
$dark-orange: #ff8c00;

//Font weight
$fw-normal: normal;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
$fw-bold: bold;

//Line height
$l-1_5: 1.5;

//spacing
$r-15: 0.9375rem;
$r-20: 1.25rem;
$r-30: 1.875rem;
$r-32: 2rem;
$r-40: 2.5rem;
$r-48: 3rem;

//breakpoints
$mobile-width: 600px;
$tablet-width: 1024px;

//border radius
$br-10: 0.625rem;
